@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;600;700&family=Noto+Serif+TC:wght@300;400;600;700&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

* {
  font-family: Noto Serif TC, Noto Serif JP;
  color: #504A71;
}

.h1 {
  font-size: 28px;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 25px;
}

.h3 {
  font-size: 18px;
  font-weight: 600;
}

.p-info {
  font-size: 16px;
  line-height: 23px;
  padding-bottom: 15px;
}

.p-eng {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 25px;
}

.p-cht {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph {
  padding-bottom: 10px;
}

.cover {
  height: 100vh;
  background-image: url(background.jpg);
  z-index: -2;
}

.pattern {
  height: 100vh;
  background-image: url(bg-words.svg);
  z-index: -1;

.title {
  width: 60vh;
}
